<!DOCTYPE html>
@*<html viewsource="no">*@
<html viewsource="yes">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js" @*referrerpolicy="origin"*@></script>
    <script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/jquery.tinymce.min.js" @*referrerpolicy="origin"*@></script>

    @*<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
    <script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/jquery.tinymce.min.js" referrerpolicy="origin"></script>*@
    @*<title>@Page.Title</title>*@
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>AdminLTE 3 | Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @*href="@Url.Content("~/Content/logintemplate/css/bootstrap.min.css")"*@
    <link rel="stylesheet" href="@Url.Content("~/Content/InvRegTemplate/plugins/fontawesome-free/css/all.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/InvRegTemplate/dist/css/adminlte.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/InvRegTemplate/dist/css/style.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/PaymentTemplate/plugins/fontawesome-free/css/all.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/PaymentTemplate/dist/css/adminlte.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/PaymentTemplate/dist/css/style.css")">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="jquery.datetimepicker.css" />
    <script src="jquery.datetimepicker.full.js"></script>
    <!--
      <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,900;1,700&display=swap"
      rel="stylesheet">-->

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap" rel="stylesheet">


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    @*<script src="@Url.Content("~/Content/PaymentTemplate/plugins/bootstrap/js/bootstrap.min.js")"></script>*@
    <script src="@Url.Content("~/Content/InvRegTemplate/plugins/bootstrap/js/bootstrap.min.js")"></script>

    <script>
        //$(function () {
        //  $('[data-toggle="tooltip"]').tooltip()

        //})


    </script>


    @*<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/js/tempusdominus-bootstrap-4.min.js"></script>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/css/tempusdominus-bootstrap-4.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/js/all.js"
            integrity="sha256-2JRzNxMJiS0aHOJjG+liqsEOuBb6++9cY4dSOyiijX4=" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="@Url.Content("~/Content/CreateUserTemplate/plugins/fontawesome-free/css/all.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/CreateUserTemplate/dist/css/adminlte.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/CreateUserTemplate/dist/css/style.css")">

    
      <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,900;1,700&display=swap"
      rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap" rel="stylesheet">


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>

    <script src="@Url.Content("~/Content/CreateUserTemplate/plugins/bootstrap/js/bootstrap.min.js")"></script>

    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()

        })


    </script>


    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/js/tempusdominus-bootstrap-4.min.js"></script>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/css/tempusdominus-bootstrap-4.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/js/all.js"
            integrity="sha256-2JRzNxMJiS0aHOJjG+liqsEOuBb6++9cY4dSOyiijX4=" crossorigin="anonymous"></script>*@

    @*hold-transition*@
    @RenderSection("head", required: false)
</head>
<body class="sidebar-mini layout-fixed">

    @RenderBody()
    @RenderSection("scripts", required: false)
    <script src="@Url.Content("~/Content/InvRegTemplate/dist/js/adminlte.min.js")"></script>
    <script src="@Url.Content("~/Content/PaymentTemplate/dist/js/adminlte.min.js")"></script>
</body>
</html>
